In [196]:
import pandas as pd
table_csv_path = r"C:\Users\kippk\Documents\DataScience101_Docs\Project2_Data_Files\Project2_Export.csv"
df=pd.read_csv(table_csv_path, dtype={'FIPS':str})
pd.set_option('max_columns', 40)
pd.set_option("min_rows", 10)
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,...,full_name,playerID.1,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,"Abad, Fernando",abadfe01,2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,"Abad, Fernando",abadfe01,2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16
3,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21
4,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12
2213,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5
2214,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6
2215,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0
2216,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8

In [197]:
# delete rows where birthMonth,birthDay, birthYear have null values
df=df.dropna(axis=0, subset=['birthMonth'])
df=df.dropna(axis=0, subset=['birthDay'])
df=df.dropna(axis=0, subset=['birthYear'])
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,...,full_name,playerID.1,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,"Abad, Fernando",abadfe01,2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,"Abad, Fernando",abadfe01,2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16
3,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21
4,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,"Abreu, Jose",abreujo02,2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12
2213,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5
2214,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6
2215,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0
2216,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,"Zunino, Mike",zuninmi01,2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8

In [198]:
df['birthMonth'] = df['birthMonth'].astype(int)   #convert to date fields to integer
df['birthDay'] = df['birthDay'].astype(int)
df['birthYear'] = df['birthYear'].astype(int)
df.dtypes
#df

playerID        object
birthYear        int32
birthMonth       int32
birthDay         int32
birthCountry    object
                 ...
IBB              int64
HBP              int64
SH               int64
SF               int64
GIDP             int64
Length: 44, dtype: object

In [199]:
#Concatenate DOB
cols=["birthYear","birthMonth","birthDay"]
df['DOB'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns") 
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,...,playerID.1,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,DOB
0,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,abadfe01,2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17
1,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,abadfe01,2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17
2,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16,1987-1-29
3,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21,1987-1-29
4,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21,1987-1-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12,1991-3-25
2213,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5,1991-3-25
2214,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6,1991-3-25
2215,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0,1991-3-25
2216,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8,1991-3-25

In [200]:
#Convert DOB data type to datetime
df['DOB'] = pd.to_datetime(df['DOB']) 
df.dtypes

playerID                object
birthYear                int32
birthMonth               int32
birthDay                 int32
birthCountry            object
                     ...
HBP                      int64
SH                       int64
SF                       int64
GIDP                     int64
DOB             datetime64[ns]
Length: 45, dtype: object

In [201]:
#Double check Dataframe
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,...,playerID.1,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,DOB
0,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,abadfe01,2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17
1,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,abadfe01,2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17
2,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16,1987-01-29
3,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21,1987-01-29
4,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,abreujo02,2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21,1987-01-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12,1991-03-25
2213,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5,1991-03-25
2214,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6,1991-03-25
2215,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0,1991-03-25
2216,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,zuninmi01,2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8,1991-03-25

In [202]:
#calculate Age column
now = pd.Timestamp('now')
df['age']='age'#
df['age'] = (now - df['DOB']).astype('<m8[Y]') 
df['age']=df['age'].astype(int)

In [203]:
#Double check Dataframe
df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,...,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,DOB,age
0,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17,36
1,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,NaN,NaN,NaN,Fernando,Abad,Fernando Antonio,235,74,L,L,...,2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17,36
2,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16,1987-01-29,35
3,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21,1987-01-29,35
4,abreujo02,1987,1,29,Cuba,Cienfuegos,Cienfuegos,NaN,NaN,NaN,NaN,NaN,NaN,Jose,Abreu,Jose Dariel,235,75,R,R,...,2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21,1987-01-29,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12,1991-03-25,30
2213,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5,1991-03-25,30
2214,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6,1991-03-25,30
2215,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0,1991-03-25,30
2216,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Zunino,Michael Accorsi,235,74,R,R,...,2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8,1991-03-25,30

In [204]:
#Drop Unnecessary columns
df=df.drop(['nameFirst','nameLast','birthMonth','birthDay','birthYear','playerID.1','deathYear','deathMonth','deathCountry',
            'deathDay','deathState','deathCity','retroID','bbrefID'], axis = 1)
df

,playerID,birthCountry,birthState,birthCity,nameGiven,weight,height,bats,throws,debut,finalGame,full_name,yearID,G,AB,R,H,B2,B3,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,DOB,age
0,abadfe01,D.R.,La Romana,La Romana,Fernando Antonio,235,74,L,L,2010-07-28,2021-10-01,"Abad, Fernando",2014,69,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17,36
1,abadfe01,D.R.,La Romana,La Romana,Fernando Antonio,235,74,L,L,2010-07-28,2021-10-01,"Abad, Fernando",2015,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1985-12-17,36
2,abreujo02,Cuba,Cienfuegos,Cienfuegos,Jose Dariel,235,75,R,R,2014-03-31,2021-10-02,"Abreu, Jose",2015,154,613,88,178,34,3,30,101,0,0,39,140,11,15,0,1,16,1987-01-29,35
3,abreujo02,Cuba,Cienfuegos,Cienfuegos,Jose Dariel,235,75,R,R,2014-03-31,2021-10-02,"Abreu, Jose",2016,159,624,67,183,32,1,25,100,0,2,47,125,7,15,0,9,21,1987-01-29,35
4,abreujo02,Cuba,Cienfuegos,Cienfuegos,Jose Dariel,235,75,R,R,2014-03-31,2021-10-02,"Abreu, Jose",2017,156,621,95,189,43,6,33,102,3,0,35,119,6,15,0,4,21,1987-01-29,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,zuninmi01,USA,FL,Cape Coral,Michael Accorsi,235,74,R,R,2013-06-12,2021-10-03,"Zunino, Mike",2014,131,438,51,87,20,2,22,60,0,3,17,158,1,17,0,4,12,1991-03-25,30
2213,zuninmi01,USA,FL,Cape Coral,Michael Accorsi,235,74,R,R,2013-06-12,2021-10-03,"Zunino, Mike",2013,52,173,22,37,5,0,5,14,1,0,16,49,0,3,0,1,5,1991-03-25,30
2214,zuninmi01,USA,FL,Cape Coral,Michael Accorsi,235,74,R,R,2013-06-12,2021-10-03,"Zunino, Mike",2015,112,350,28,61,11,0,11,28,0,1,21,132,0,5,8,2,6,1991-03-25,30
2215,zuninmi01,USA,FL,Cape Coral,Michael Accorsi,235,74,R,R,2013-06-12,2021-10-03,"Zunino, Mike",2016,55,164,16,34,7,0,12,31,0,0,21,65,0,6,0,1,0,1991-03-25,30
2216,zuninmi01,USA,FL,Cape Coral,Michael Accorsi,235,74,R,R,2013-06-12,2021-10-03,"Zunino, Mike",2017,124,387,52,97,25,0,25,64,1,0,39,160,0,8,0,1,8,1991-03-25,30

In [205]:
#Drop the rows where at least one element is missing.
#df=df.dropna()
# delete rows where birthCountry	birthState	birthCity have null values
df=df.dropna(axis=0, subset=['birthCountry'])
df=df.dropna(axis=0, subset=['birthState'])
df=df.dropna(axis=0, subset=['birthCity'])

In [206]:
#Export to csv
df.to_csv(r'C:\Users\kippk\Documents\DataScience101_Docs\Project2_Data_Files\to_csv\baseball_stats_1.csv', index = None, header=True)